#map{
  height: 92vh;
  width: 50%;
  float: left;
  position: fixed !important;
  top: 60px;
  left: 0;
}

#places-list{
    margin-left: 50%;
    margin-top: 70px;
}

.club-img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.place-info{
  height: 120px;
  width: 90%;
  background: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5%;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
}

.info-marker{
  width: 300px;
}

h4{
  margin: 0;
}

.green-text{
  color: green;
}

.red-text{
  color: red;
}

.club-name h4{
    margin-top: 5px;
}

.yelp-img{
  height: 30px;
  width: 50px;
}

.distance{
  text-align: right;
}

.price{
  text-align: right;
}

.yelp-rating{
  width: 100px;
  height: 20px;
}

.yelp-info-rating{
  margin-top: 35px;
  text-align: right;
}

.place-address{
  padding-bottom: 10px;
}
